{% extends "AppSinLuz/index.html" %}
{% load static %}
{% block tituloQueCambia %}
Reclamo
{% endblock %}
{% block contenidoQueCambia %}
	<header id="head" class="secondary"></header>

	<!-- container -->
	<div class="container">

		<div class="row">
			
			<!-- Article main content -->
			<article class="col-xs-12 maincontent">
				<header class="page-header">
					<h1 class="page-title">Reclamos</h1>
				</header>
				
				<div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
					<div class="panel panel-default">
						<div class="panel-body">
							<h3 class="thin text-center">Ingrese su reclamo</h3>
							<p class="text-center text-muted">Por favor, ingrese la fecha y detalles de reclamo.</p>
							<hr>
								
							{% if form.errors %}
							<p style="color: red;"> Datos incorretos, por favor intente nuevamente</p>
							{% endif %}
					
							<form action="" method="POST">
							{% csrf_token %}
							<div class="top-margin">
								<label for="problema">Problema: </label>
								<input id="problema" type="text" name="problema" class="form-control">
							</div>	
							<div class="top-margin">
								<label for="fecha">Fecha: </label>
								<input id="fecha" type="date" name="fecha" class="form-control">
							</div>
							<div class="top-margin">
								<label for="resumen">Cuéntenos resumidamente que sucedió: </label>
								<input id="resumen" type="text" name="resumen" class="form-control">
							</div>	
							<div class="top-margin">
								<label for="detalles">¿Desea añadir algún detalle?: </label>
								<input id="detalles" type="text" name="detalles" class="form-control">
							</div>	
							
							<hr>
							
							<div class="row">
								<div class="col-lg-8"></div>
								<div class="col-lg-4 text-right">
									<button class="btn btn-action" type="submit">Continuar</button>
								</div>
							</form>
						</div>
					</div>

				</div>
				
			</article>
			<!-- /Article -->
{% endblock %}